#page-room header{
    padding:24px;
    border-bottom: 1px solid #e2e2e2
}

.header-content{
    max-width:1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content img{
    max-height: 45px;
}

.room-content{
    max-width:880px;
    margin: 0 auto;
    flex-direction: column;
}

.room-title{
    margin: 32px auto 24px 0;
    display: flex;
    justify-content:center;
}

.room-title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #29292e;
}

.room-title span{
    margin-left:16px;
    background: #e559f9;
    border-radius: 9999px;
    padding:8px 16px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}

form{
    width: 100%;
}

form textarea{
    width:100%;
    border:0;
    padding:16px;
    border-radius:8px;
    resize: vertical;
    background-color:#fefefe;
    box-shadow: 0 2px 12px rgba(0,0,0,0.8);
    min-height:130px;
}

.form-footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:16px;
    width:100%;
}

.form-footer .button{
    margin-top:0;
}

.form-footer span{
    font-size: 14px;
    color:#737388;
    font-weight: 500;
}

.form-footer span button{
    background:transparent;
    border:0;
    color: #835AFD;
    cursor:pointer;
    font-size: 14px;
    text-decoration: underline;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info img{
    width:32px;
    height:32px;
    border-radius: 50%;
}

.user-info span{
    font-size:14px;
    margin-left: 8px;
    font-weight:500;
    color:#29292e;
}

.question-list{
    margin-top: 32px;
    width: 100%;
}